<p>user-list works!</p>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name"/>
    <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
      Name is required
    </div>
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email"/>
    <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
        <span *ngIf="userForm.controls['email'].errors?.['required']">Email is required</span>
        <span *ngIf="userForm.controls['email'].errors?.['email']">Invalid Email Address</span>

    </div>
  </div>

  <button type="submit" [disabled]="userForm.invalid">
    {{isUpdating?'Update User':'Add User'}}
  </button>

  <button type="button" (click)="resetForm()" *ngIf="isUpdating">
    Reset
  </button>
</form>
<ul>
  <li *ngFor="let user of users">
    {{user.name}} - {{user.email}}
    <button (click)="editUser(user)">Edit</button>
    <button (click)="deleteUser(user.id)">Delete</button>
  </li>
</ul>
