<h1>Custom Directive</h1>
<p appHighlight="red">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id itaque ad dicta deleniti necessitatibus, nostrum aliquam nesciunt enim quam animi beatae qui ex facere asperiores repudiandae atque veritatis rerum. Veritatis.</p>
<p appHighlight="blue">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id itaque ad dicta deleniti necessitatibus, nostrum aliquam nesciunt enim quam animi beatae qui ex facere asperiores repudiandae atque veritatis rerum. Veritatis.</p>
<p appHighlight="green">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id itaque ad dicta deleniti necessitatibus, nostrum aliquam nesciunt enim quam animi beatae qui ex facere asperiores repudiandae atque veritatis rerum. Veritatis.</p>
<router-outlet />
